<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body
    class="flex min-h-screen flex-col items-center justify-between bg-neutral-700 text-black sm:p-8 sm:pb-0"
  >
    <div
      class="flex w-full max-w-[1280px] flex-col gap-12 bg-neutral-100 px-12 py-12"
    >
      <header>
        <h1
          class="text-center text-3xl font-normal italic sm:text-5xl sm:font-light"
        >
          New Message
        </h1>
      </header>

      <main class="flex flex-col items-center gap-12">
        <form
          method="POST"
          action="/new"
          class="mx-auto flex w-full max-w-xs flex-col gap-4"
        >
          <div>
            <% const authorError = errors?.find(err => err.path === 'author');
            %> <% if (authorError) { %>
            <div class="mb-2 text-sm text-red-500"><%= authorError.msg %></div>
            <% } %>
            <input
              type="text"
              name="author"
              placeholder="Your name"
              value="<%- data?.author || '' %>"
              required
              class="w-full rounded-md border border-gray-300 bg-white px-3 py-2 focus:ring-2 focus:ring-blue-400 focus:outline-none"
            />
          </div>
          <div>
            <% const textError = errors?.find(err => err.path === 'text'); %> <%
            if (textError) { %>
            <div class="mb-2 text-sm text-red-500"><%= textError.msg %></div>
            <% } %>
            <input
              type="text"
              name="text"
              placeholder="Your message"
              value="<%- data?.text || '' %>"
              required
              class="w-full rounded-md border border-gray-300 bg-white px-3 py-2 focus:ring-2 focus:ring-blue-400 focus:outline-none"
            />
          </div>
          <button
            type="submit"
            class="rounded-md bg-blue-500 px-4 py-2 font-bold text-white transition-colors hover:cursor-pointer hover:bg-blue-400"
          >
            Send
          </button>
        </form>

        <a href="./" class="font-semibold text-blue-500 hover:underline"
          >Go back</a
        >
      </main>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
